@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    header{
        font-size: 16px;
    }

}
.container header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20;                    
    padding: 30;
    text-align: center;
    border-radius: 25px;
    font-size: 30px;
    background-image: linear-gradient(to right, #e4a068, #b37e53);     
    color: #f3edeb;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    text-decoration: none;      
    color: #461705;               
    padding: 8px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.2s;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #d3a293;  
}

nav ul li a:active {
    background-color: #cf8068;  
}

/*untuk mengubah seluruh bagian yang ada di bawah nav bar home & shalleydesigns*/
.contentmain {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffd4c1; 
    box-shadow: 0 4px 4px rgb(71, 63, 59);
    padding: 20px; 
    margin: 10px; 
    border-radius: 5px; /* Rounded corners */
}

.aboutmetitle{
    display: flex;
    gap: 16px; 
    margin: 0;
    color: #c5704e;
}

.content{
    margin: 0;
    padding: 0;
}

.aboutmetitle h2,
.aboutmetitle p {
    margin: 0;   /* Remove default margin */
    padding: 0;

}

.aboutsection{
    margin: 20px;
    text-align: justify;
    color: rgb(146, 72, 113);
}
